# Python virtual environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS specific
.vscode/
.idea/
*.DS_Store
Thumbs.db
k8s/secret-sharer-app/values.yaml
k8s/secret-sharer-app/template.txt
k8s/secret-sharer-app/debug.txt
start_azure_resources.sh
